* {
  box-sizing: border-box;
  padding: 0;
  margin: 1rem 1rem;
}
.topnav {
  display: flex;
  margin: 1rem;
  padding: 0;
  max-height: 50px;
  position: relative;
}

.topnav > input {
  margin: 0 10rem;
  width: 40%;
  border-radius: 10px;
  border: 1px solid black;
}

.topnav > ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.topnav > ul > li {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

#search-bar {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
}
#search-bar > input {
  width: 30rem;
  height: 100%;
  padding-left: 1rem;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
}

#results-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: -15px;
  width: 100%;
  height: auto;
  background: white;
}

.botnav {
  display: flex;
  justify-content: space-between;
}

.botnav > a {
  flex: 1;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

hr {
  margin-top: 0;
  padding-top: 0;
}
.swiper-section {
  display: flex;
}

.swiper-container {
  display: flex;
  width: 100%;
  gap: 2%;
  overflow-x: hidden;
}

.swiper-item {
  flex: 0 0 16%;
  height: 300px;
  border: 1px solid black;
}

button {
  border: 0;
  background: transparent;
  z-index: 1;
}

.saved-grid {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.saved-grid > .item {
  height: 300px;
  width: 200px;
  border: 1px solid black;
  margin: 0.2rem;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.cart-container > div {
  margin-left: 0;
}

.list-container {
  display: block;
  flex: 1;
  padding: 0;
  margin: 0;
}

.list-container > .item {
  margin-bottom: 1rem;
  height: 30%;
  border: 1px solid black;
}

.checkout {
  display: flex;
  justify-content: center;
  min-width: 30%;
  height: 70vh;
  border: 1px solid black;
}

.form-container {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button[type="submit"] {
  width: 100%;
  border-radius: 3px;
  background: #333333;
  color: white;
}

#content-wrap {
  display: flex;
  justify-content: center;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  border: 1px solid black;
}

.form-wrap > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  width: 100%;
}

.form-wrap > form > * {
  width: 100%;
  margin-bottom: 1rem;
  height: 2rem;
}

.form-button {
  text-decoration: underline;
}

.prod-grid {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prod-grid > .item {
  min-width: 30%;
  height: 400px;
  width: 200px;
  border: 1px solid black;
  margin: 1rem;
}
